/* styles.css */
#pokemon-list {
    display: flex;
    list-style: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

#pokemon-list::after {
    content: "";
    flex: auto;
}

#pokemon-types img {
    max-width: 100px; /* Set the maximum width */
    max-height: 100px; /* Set the maximum height */
    display: block;
    margin: 0 auto;
}

.pokemon-element {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    width: auto; /* Let it adjust to content width */
    text-align: center;
}

.pokemon-element:first-child {
    display: none;
}

.list-sprite img {
    max-width: 145px; /* Set the maximum width */
    max-height: 120px; /* Set the maximum height */
    display: block;
    margin: 0 auto;
}

.list-title {
    font-weight: bolder;
    display: block;
    margin: 0 auto;
}

.list-type img {
    max-width: 100px; /* Set the maximum width */
    max-height: 100px; /* Set the maximum height */
    display: block;
    margin: 0 auto;
}

/* Hide the modal by default */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  }
  
/* Style the modal content */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff; /* Background color for the modal */
    padding: 10px; /* Reduced padding */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow outline */
    max-height: 90%;
    text-align: center;
    border-radius: 5px; /* Rounded corners */
  }

  #pokemon-image {
    width: 200px;
    height: 200px;
  }
  
  /* Style the close button */
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
  
  /* Rest of your styles for the modal content */
  #pokemon-name {
    font-size: 24px;
  }
  
  /* Add styles for other details as needed */